Demo executing a yaetos job from jupyter notebook and checking parameters and results

In [1]:
import logging
logging.getLogger('Job').setLevel(logging.CRITICAL)
import os
os.chdir(os.environ.get('PYSPARK_AWS_ETL_HOME', ''))
from jobs.examples.ex7_pandas_job import Job
from yaetos.etl_utils import Runner

In [2]:
args = {
    'job_param_file': 'conf/jobs_metadata.yml',
    'inputs': {
      'some_events': {'path':"{base_path}/wiki_example/input/", 'type':'csv', 'df_type':'pandas'},
      'other_events': {'path':"{base_path}/wiki_example/input/", 'type':'csv', 'df_type':'pandas'},},
    'output': {'path':'{base_path}/wiki_example/output_ex7_pandas/{now}/output.csv', 'type':'csv', 'df_type':'pandas', 'save_kwargs':{'sep':','}},
    'spark_boot': False,
    'base_path': './tests/fixtures/data_sample/',
    'dependencies': False}
job = Runner(Job, **args).run()

In [3]:
job.jargs.output['path_expanded']

'./tests/fixtures/data_sample//wiki_example/output_ex7_pandas/date20220525_time195033_utc/output.csv'

In [4]:
job.out_df

  session_id  count_events
0         s1             4
1         s2             4

In [5]:
import pandas as pd
df_out = pd.read_csv(job.jargs.output['path_expanded'], index_col=0)
df_out

  session_id  count_events
0         s1             4
1         s2             4